<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Christian Rubio</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/d800990c37.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <nav class="navbar">
            <img src="/img/fotoChristian.png" alt="Foto Christian" id="foto" width="129px" height="126px">
            <a class="active menu_item" href="#Rubio">Rubio</a> 
            <a class="menu_item" href="#sobre_mi">Sobre mí</a>
            <a class="menu_item" href="#Educacion">Educación</a>
            <a class="menu_item" href="#Experiencia">Experiencia</a>
            <a class="menu_item" href="#Skills">Skills</a>
            <a class="menu_item" href="#Registro">Registro</a>
        </nav>
        <main>
            <!-- seccion de inicio -->
            <section class="seccion" id="Rubio">
                    <h1 class="tit" id="nombre">Christian <span>Rubio</span></h1>
                    <span id="typewriter">!Hola mundo! En la ruta de ser un desarrollador web...</span>
                    <p id="welcome">Bienvenido(a) a mi portafolio como desarrollador web</p>
                    <p>Puedes contactarte con migo si así lo deseas escribiéndome a<a id="a_mail" target="_blank"  href="mailto:crubiocastro@gmail.com"> crubiocastro@gmail.com</a></p>
                    <a target="_blank" id="cv" href="/docs/Christian Camilo Rubio Castro CV.pdf">descarga mi CV</a>
                    <nav id="redes"><!-- iconos de redes de contacto -->
                        <a target="_blank" href="https://www.linkedin.com/in/christian-camilo-rubio-castro-0786ba21a/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://github.com/Rubio07"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://wa.me/qr/U7XX5YQK5JTZE1"><i class="fa fa-whatsapp" aria-hidden="true"></i></i></a>
                        <a target="_blank" href="mailto:crubiocastro@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </nav>
            </section>
            <!-- seccion SOBRE MÍ -->
            
            <section class="seccion" id="sobre_mi">
                    <h1 class="tit">Sobre mí</h1>
                    <p>Soy Ingeniero en Telemática en proceso, cuento con experiencia en areas de tecnología, con la capacidad de aplicar los conocimientos suficientes para el análisis, desarrollo y adaptación de soluciones de software que permitan transformar y mejorar procesos organizacionales a nivel general en el área de soporte técnico, programación, gestión de redes y afines. Soy una persona responsable, exigente, dinámica, con la capacidad de trabajar en equipo en pro del cumplimento de objetivos.</p>
                    <span>Actualmente busco ampliar mi campo laboral hacia el desarrollo de aplicaciones web.</span>
                    <p>Si lo deseas te puedes poner en contacto con migo escribiéndome a <span>crubiocastro@gmail.com</span>.</p>
                    <p>Mi experiencia la puedes encontrar detalladamente en mi perfil de <span><a target="_blank" href="https://www.linkedin.com/in/christian-camilo-rubio-castro-0786ba21a/">Linkedin.</a></span></p>
            </section>
            <!-- SECCIÓN EDUCACIÓN -->
            
            <section class="seccion" id="Educacion">
                    <h1 id="tit_edu" class="tit">Educación</h1>
                    <table id="t_edu">
                        <tr>
                            <td class="cel_1">
                                <h1 class="h1_edu">UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS</h1>
                                <h2 class="h2_edu">Tecnólogo en Sistematización de Datos</h2>
                                <p>Formación básica en ingeniería de software, telemática, desarrollo de software y 
                                    telecomunicaciones.<br><span>6 semestres.</span></p>
                                <a target="_blank" href="/docs/7. Estudio - Acta de grado (universidad distrital).pdf">Certificación</a>
                            </td>
                            <td class="cel_2">
                                <span>Mayo del 2021</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="cel_1">
                                <h1 class="h1_edu">UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS</h1>
                                <h2 class="h2_edu">Ingeniería en Telemática</h2>
                                <p>Analizar, desarrollar e implementar software que apoyen los procesos telemáticos y de comunicaciones. 
                                    Analizar desarrollar e implementar soluciones de software que apoyen los procesos de gestión 
                                    telemática.<br><span>(PENDIENTE DE PROYECTO DE GRADO)</span></p>
                            </td>
                            <td class="cel_2">
                                <span>Actualmente</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="cel_1">
                                <h1 class="h1_edu">FUNDACIÓN UNIVERSITARIA KONRAD LORENZ</h1>
                                <h2 class="h2_edu">Introducción a Angular</h2>
                                <p>fundamentos esenciales de Angular, incluyendo la creación de componentes personalizados, gestión de 
                                    enrutamiento, manipulación de formularios y consumo de datos remotos a través de solicitudes HTTP.
                                    <br><span>Curso de 20 horas.</span></p>
                                <a target="_blank" href="/docs/7. Estudio certificacion introduccion Angular.pdf">Certificación</a>
                            </td>
                            <td class="cel_2">
                                <span>Enero del 2020</span>
                            </td>
                        </tr>
                    </table>
            </section>
            <!-- SECCION EXPERIENCIA -->
            
            <section class="seccion" id="Experiencia">
                    <h1 class="tit">Experiencia</h1>
                    <table>
                        <tr>
                            <td class="cel_1">
                                <h1 class="h1_edu">Shokailab S.A.S</h1>
                                <h2 class="h2_edu">Desarrollador JavaScript Jr</h2>
                                <p>Trabajé en la integración de un ERP, permitiendo una comunicación fluida de datos y procesos. Además, colaboré en la personalización de la interfaz del usuario y flujos de trabajo para adaptar el ERP a las necesidades específicas de dieversos clientes como MATEC, MEM, CASAMAGNA S.A.S. y La Haus.<br><span>6 meses.</span></p>
                            </td>
                            <td class="cel_2">
                                <span>2022</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="cel_1">
                                <h1 class="h1_edu">LG CNS</h1>
                                <h2 class="h2_edu">Embedded systems developer</h2>
                                <p>Trabajé en el desarrollo, monitoreo y soporte de los dispositivos de recaudo del sistema integrado de transporte de Bogotá. Principalmente haciendo uso de SQL para hacer monitoreo y dar soporte a las consultas del cliete, en este caso Recaudo Bogotá.<br><span>7 meses.</span></p>
                            </td>
                            <td class="cel_2">
                                <span>2023</span>
                            </td>
                        </tr>
                    </table>
            </section>
            <!-- SECCION Skills -->
            <section class="seccion" id="Skills">
                <h1 class="tit">Skills</h1>
                <h2>Lenguajes</h2>
                <div>
                    <i class="fa-brands fa-js"><span> JavaScript</span></i>
                    <i class="fa-brands fa-css3-alt"><span> CSS</span></i>
                    <i class="fa-brands fa-html5"><span> HTML5</span></i>
                    <span class="sp_lan"><img id="mysql" src="/img/mysql.png" alt="logo_mysql" width="35px" height="35px"></span>
                    <span class="sp_lan"><img id="oracle" src="/img/logo oracle.png" alt="logo oracle" style="width:70px; height:auto;" ></span>
                    <span class="sp_lan"><img id="cpp" src="/img/C++.png" alt="logo c++" style="width:20px; height:auto;" ></span>

                </div>
                <h2>Frameworks & librerías</h2>
                <div>
                    <i class="fa-brands fa-bootstrap"><span> BOOTSTRAP</span></i>
                    <span id="sp_fonta"><i class="fa-solid fa-font-awesome"></i> Font Awesome</span>
                    <i class="fa-brands fa-node"><span> NODE.JS</span></i>
                </div>
                <h2>Software & herramientas</h2>
                <div>
                    <span id="sp_vsc"><img id="vsc" src="/img/vscode-alt.png" alt="logo vscode-alt" style="width:17px; height:auto;"> Visual Studio Code</span>
                </div>
                <!-- 
                    Linux
                -->
            </section>
            <!-- SECCION formulario -->
            <section class="seccion" id="Registro">
                    <article action="" class="form_container">
                        <h1>formulario de registro</h1>
                        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre">
                        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su(s) apellido(s)">
                        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su correo">
                        <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña">
                        <input class="boton" type="submit" value="Registrar">
                        <p><a href="#">¿ya tienes cuenta?</a></p>
                    </article>
            </section>
       </main>
       <script defer src="/js/app.js"></script>
    </body>
</html> 